<div class="gallery row">
    <aside class="search col-md-2 position-fixed">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search by Artist or Title">
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Style</a></li>
            <li role="presentation"><a href="#/style/Abstract Art">Abstract Art</a></li>
            <li role="presentation"><a href="#/style/Landscape Art">Landscape Art</a></li>
            <li role="presentation"><a href="#/style/Realism">Realism</a></li>
            <li role="presentation"><a href="#/style/Impressionism">Impressionism</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Subject</a></li>
            <li role="presentation"><a href="#/subject/Animals">Animals</a></li>
            <li role="presentation"><a href="#/subject/Flora">Flora</a></li>
            <li role="presentation"><a href="#/subject/Landscape">Landscape</a></li>
            <li role="presentation"><a href="#/subject/Seascape">Seascape</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Tehnique</a></li>
            <li role="presentation"><a href="#/technique/Oil Painting">Oil Painting</a></li>
            <li role="presentation"><a href="#/technique/Acrylic Painting">Acrilic Painting</a></li>
            <li role="presentation"><a href="#/technique/Watercolor Painting">Watercolor Painting</a></li>
        </ul>
    </aside>
    {{#if paintings.length}}
    <ul class="galleryItems list-group row col-md-8 col-md-offset-2">
        {{#each paintings}}
        <li class="itemGallery list-group-item col-md-3">
            <img class="imgGallery img-thumbnail" src="{{image._downloadURL}}">
            <div>
                <a class="artist" data-id="{{_id}}" href="#/artist-info/{{artist.name}}">{{artist.name}}</a>
            </div>
            <div>
                <a class="title" data-id="{{_id}}" href="#/paintings/{{_id}}">{{title}}</a>
            </div>
        </li>
        {{/each}}
    </ul>
    {{else}} No paintings available! {{/if}}
    {{!--<nav class="col-md-6 col-md-offset-4" aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>--}}
</div>