<div class="gallery">
    {{#if paintings.length}}
    <ul class="galleryItems list-group row">
        {{#each paintings}}
        <li class="itemGallery list-group-item col-md-3">
            <img class="imgGallery img-thumbnail" src="{{image._downloadURL}}">
            <div>
                <a class="artist" data-id="{{_id}}" href="#/artist-info/{{artist.name}}">{{artist.name}}</a>
            </div>
            <div>
                <a class="title" data-id="{{_id}}" href="#/paintings/{{_id}}">{{title}}</a>
            </div>
        </li>
        {{/each}}
    </ul>
    {{else}} No paintings available! {{/if}}
</div>