<div class="gallery row">
    <aside class="search col-md-2 position-fixed">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search by Artist or Title">
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Style</a></li>
            <li role="presentation"><a href="#">Abstract Art</a></li>
            <li role="presentation"><a href="#">Landscape Art</a></li>
            <li role="presentation"><a href="#">Realism</a></li>
            <li role="presentation"><a href="#">Impressionism</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Subject</a></li>
            <li role="presentation"><a href="#">Animals</a></li>
            <li role="presentation"><a href="#">Flora</a></li>
            <li role="presentation"><a href="#">Landscape</a></li>
            <li role="presentation"><a href="#">Seascape</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Medium</a></li>
            <li role="presentation"><a href="#">Oil Painting</a></li>
            <li role="presentation"><a href="#">Acrilic Painting</a></li>
            <li role="presentation"><a href="#">Watercolor Painting</a></li>
        </ul>
    </aside>
    <div class="col-md-8 col-md-offset-2 display-info">
        <div class="row">
            <div class="col-md-6">
                <img src="{{image._downloadURL}}" alt="" class="img-thumbnail">
            </div>
            <div class="col-md-6">
                <h2>Artist: <strong>{{artist.name}}</strong></h3>
                    <h3>Title: <strong>{{title}}</strong></h4>
                        <br>
                        <br> 
                        <div class="row">
                            <div class="col-md-3">
                                <div class="description">Tehnique: </div>
                                <div class="description">Size: </div>
                                <div class="description">Description: </div>
                                <div class="description">Status: </div>
                                <div class="description">Price: </div>
                                <div class="description">Views: </div>
                                <div class="description">Rating: </div>
                            </div>
                            <div class="col-md-9">
                                <div class="description"><strong>{{technique}}</strong></div>
                                <div class="description"><strong>{{size}}</strong></div>
                                <div class="description"><strong>{{description}}</strong></div>
                                <div class="description"><strong>{{status}}</strong></div>
                                <div class="description"><strong>{{price}}</strong></div>
                                <div class="description"><span class="label label-default views">{{views}}</span></div>
                                <div class="description"><span class="label label-default rating">{{rating}}</span></div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <button type="button" class="btn btn-md like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like</button>
                        <button type="button" class="btn btn-md dislike"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Dislike</button>
                        <button type="button" class="btn btn-md comment">Add a comment</button>
                        <button type="button" class="btn btn-md buy">Add to cart</button>
                        <button type="button" class="btn btn-md download">Download</button>
            </div>

        </div>
    </div>
</div>