<div class="gallery">
    <div class="display-info">
        <div class="row">
            <div class="col-md-6">
                <img src="{{image._downloadURL}}" alt="" class="img-thumbnail">
            </div>
            <div class="col-md-6">
                <h2>Artist: <strong>{{artist.name}}</strong></h3>
                    <h3>Title: <strong>{{title}}</strong></h4>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="description">Technique: </div>
                                <div class="description">Size: </div>
                                <div class="description">Description: </div>
                                <div class="description">Status: </div>
                                <div class="description">Price: </div>
                                <div class="description rate-like hidden">Likes: </div>
                                <div class="description rate-dislike hidden">Dislikes: </div>
                            </div>
                            <div class="col-md-9">
                                <div class="description"><strong>{{technique}}</strong></div>
                                <div class="description"><strong>{{size}}</strong></div>
                                <div class="description"><strong>{{description}}</strong></div>
                                <div class="description"><strong>{{status}}</strong></div>
                                <div class="description"><strong>{{price}}</strong></div>
                                <div class="description rate-like hidden"><span class="label label-default likes">0</span></div>
                                <div class="description rate-dislike hidden"><span class="label label-default dislikes">0</span></div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <button type="button" class="btn btn-md like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like</button>
                        <button type="button" class="btn btn-md dislike"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Dislike</button>
                        <button type="button" class="btn btn-md buy">Add to cart</button>
                        <button type="button" class="btn btn-md download">Download</button>
                        <button type="button" class="btn btn-md comment">Comments</button>
                        <br>
                        <br>
                        <div id="comments-container"></div>
            </div>

        </div>
    </div>
</div>