<div class="gallery row">
    <div class="search col-md-6">
    </div>
    <div class="col-md-6 display-info">
        <img src="{{image._downloadURL}}" alt="" class="img-thumbnail">
        <br>
        <br>
        <h3>Artist: <strong>{{artist}}</strong></h3>
        <h4>Title: <strong>{{title}}</strong></h4>
        <br>
        <br>
        <div>Material: <strong>{{material}}</strong></div>
        <div>Tehnique: <strong>{{technique}}</strong></div>
        <div>Size: <strong>{{size}}</strong></div>
        <div>Description: <strong>{{description}}</strong></div>
        <div>Status: <strong>{{status}}</strong></div>
        <div>Price: <strong>{{price}}</strong></div>
        <div>Views: <span class="label label-default">{{views}}</span></div>
        <div>Comments: <span class="label label-default">{{comments}}</span></div>
        <button type="button" class="btn btn-lg">Add to Favorites</button>
        <button type="button" class="btn btn-lg">Add a comment</button>
        <button type="button" class="btn btn-lg">Download</button>
    </div>
</div>